* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

section {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}

.s1 {
    background-image: url("_f354a4a9-ce69-47c5-9977-9c29687dd91a.jpeg");
    height: 120vh;
}

.s2 {
    background-image: url("_eaddf44b-dedb-47b6-90e0-b86d4b6d491b.jpeg");
    height: 90vh;
}

.s3 {
    background-image: url("_7687665a-e220-4aec-b2e4-2e2c6e581c1f.jpeg");
}

.s4 {
    background-image: url("_8f96f768-2536-4b67-878a-3eadb5a97c86.jpeg");
    height: 140vh;
}

.s5 {
    background-image: url("_c6819c14-cfb1-45cd-a402-7c504f399e2f.jpeg");
    height: 40vh;
}

.s6 {
    background-image: url("_ccd0fd86-8d7d-4cf1-9f60-88626fa3a744.jpeg");
    height: 140vh;
}

.s7 {
    background-image: url("_c98c8a60-e9d7-443d-adda-733084ebad0a.jpeg");
    height: 140vh;
}

.s8 {
    background-image: url("_87c53da0-2323-438a-aff5-a81e8afc853b.jpeg");
    height: 140vh;
}

nav {
    position: fixed;
    top: 30%;
    bottom: 30%;
    left: 20;
    width: 80px;
}

nav ul {
    height: 140%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

nav li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    transition: .5s;
}

.dot1 {
    background-color: #872424
}

.dot2 {
    background-color: #6f7446;
}

.dot3 {
    background-color: #156461;
}

.dot4 {
    background-color: #382c4f;
}

.dot5 {
    background-color: #574c3d;
}

.dot6 {
    background-color: #063b44;
}

.dot7 {
    background-color: #481431;
}

.dot8 {
    background-color: #552c4f;
}
.active {
    box-shadow: 0 0 0 3px white, 0 0 0 6px red;
}

.text {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: none;
    margin: 0 auto;
    text-align: center;
    background: white;
    font-size: 50px;
    line-height: 50px;
}

.text-vis {
    display: block;
}

.container {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.title {
    display: block;
    font-size: 70px;
    color: rgb(255, 255, 255);
    padding: 14px 40px;
    background: black;
}

$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;

body{
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  background-color: $baby-blue;
}
.bubbly-button{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg;
  color: $button-text-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
 
  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}