@font-face{
	font-family: myFont;
	src: url(break.ttf);
}

html {
	background-color: rgb(12, 12, 12);
  }
.menu,
.nav-icon span {
	transition: all .3s ease-in-out
}
.menu .nav-menu li a,
.nav-menu li a {
	line-height: 56px
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}


.nav-icon,
.navigation {
	float: right
}

.custom-row::after {
	content: "";
	display: table;
	clear: both
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	position: relative
}

.header {
	background-color: #485666;
	padding: 8px 0;
	position: static;
	z-index: 2000
}

.header h1 {
	color: #fff;
	font-family: Poppins;
	font-weight: 400;
	font-size: 2.2rem;
	padding-left: 40px
}

.rotate {
	position: absolute;
	transform: rotate(-20deg);
	left: 0;
	font-size: 2.8rem;
	top: 5px
}

.ex_padd {
	padding-top: 170px!important
}

.nav-icon-container {
	display: block
}

.nav-icon {
	width: 50px;
	height: 60px;
	border: 2px solid #fff;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
	z-index: 100
}

.nav-icon span {
	width: 60%;
	height: 2px;
	background-color: #764040;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%)
}

 	transform: rotate(45deg);
	left: 22%
}


.nav-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around
}

.nav-menu li {
	list-style: none;
	position: relative
}

.nav-menu li a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 0 20px
}

.nav-menu li:after,
.nav-menu li:before {
	content: "";
	position: absolute;
	height: 3px;
	background-color: rgba(255, 255, 255, .2);
	bottom: 0;
	width: 0;
	transition: all .3s ease-in-out
}

.nav-menu li:before {
	left: 0
}

.nav-menu li:after {
	right: 0
}

.nav-menu li:hover:after,
.nav-menu li:hover:before {
	width: 50%
}

.nav-menu li.active:after,
.nav-menu li.active:before {
	background-color: rgba(0, 128, 128, 1)
}

.menu {
	width: 200px;
	background-color: #0B466C;
	text-align: center;
	padding: 30px;
	position: fixed;
	top: 96px;
	right: -200px;
	overflow: scroll;
	height: calc(160% - 96px);
	z-index: 1000
}

.menu.active {
	right: 0
}

.menu .nav-menu {
	flex-direction: column;
	width: 150px
}

.menu .nav-menu li {
	margin: 10px 0;
	width: 80%
}

.box-tab {
	margin: 10px 0
}

.effect {
	margin: auto;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, .07);
	background-color: #fff;
	border: 5px solid #f5f5f5
}

.tab-container {
	padding: 50px 0
}

.tab-head {
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto
}
/*threecolumn4*/
.tab .effect {
	position: relative;
	overflow: hidden;
	max-height: 540px; 
	max-width: 990px;
	background: #3085a3;
	text-align: center;
	cursor: pointer
}


@media (max-width:575px) {
	.effect.effect-two p.description {
		bottom: 5.8em
	}
}

@media (min-width:576px) and (max-width:767px) {
	.tab .effect .tab-text h2 {
		font-size: 1.3rem!important;
		font-family: Oswald
	}
	.effect.effect-two p.description {
		bottom: 5.8em
	}
}

@media (min-width:768px) and (max-width:991px) {
	.effect h2 {
		font-size: 1.3rem!important
	}
}


	
header h1{
	background: white;
	font-size: 30px;
	color: Black;
	padding: 20px 20px 5px 20px;
	font-weight:700;
	text-align: center;
	
	   
  }
  .flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  nav{
	background: pink;
	  padding: 5px 20px 5px 20px;
	display:flex;
	justify-content: space between; 
  }
  ol{
	width: 500px
  }
  
  dt{
	border-right: 1px solid black;
	padding-right: 20px;
  }
  
  dt:last-child{
	border: none;
  
  }
  .main_headline{
	background:white;
	 padding:10px 10px 10px 10px;
	
	margin: 10px 0;
  }
  
  .main_headline:nth-of-type(2){
	margin-top: 40px;
	inline-flex:colum;
  }
  
  .main_headline h1, .main_headline h2{
	font-size: 28
	  px
  }
  .gris-clarito{
   background: #F2F2F2;
  }
  .highlight{
	font-size: 20px;
	width: 10px;
	margin: 10px 0;
  text-align:center;
  
  }
  dt:hover:not(.active) {
	background-color: #A53A9F;
  }
  dt {
   
  font-family: 'Kanit', sans-serif;
  font-size:20px;
	text-align:center;
  padding:5px 100px 
  }
  
	
/* image */
div {
    cursor:crosshair;
}

.contains {
	display: flex;
	justify-content: center;
  }
  
  .thumbnails {
	display: flex;
	flex-direction: column;
	line-height: 10;
	margin-left: -40px;
  }
  
  .thumbnails li {
	  flex: auto; 
  }
  
  .thumbnails a {
	  display: block;
  }
	
  .thumbnails img {
	  width: 60vmin;
	  height: 60vmin;
	  object-fit: cover;
	  object-position: top;
  }
  
  .slides {
	overflow: hidden;
	width: 197vmin;
	height: 100vmin;
  }
  
  .slides li {
	  width: 55vmin;
	  height: 100vmin;
	  position: absolute;
	  z-index: 1;
  }
	
  .slides img {
	width: 130vmin;
	  height: 130vmin;
	  object-fit: fill;
	  padding-left: 5%;

  }
  
  .slides li:target {
	z-index: 3;
	-webkit-animation: slide 1s 1;
  }
  
  .slides li:not(:target) {
	-webkit-animation: hidden 1s 1;
  }
  
  @keyframes slide {
	0% {
	  transform: translateY(-100%);
	}
	100% {
	  transform: translateY(0%);
	}
  }
  
  @keyframes hidden {
	0% {
	  z-index: 2;
	}
	100% {
	  z-index: 2;
	}
  }
  
  ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  div {
    cursor:crosshair;
}
  


/* info box*/
.wrapper {
	height: 30vh;
	/* This part is important for centering the content */
	display: flex;
	align-items: center;
	justify-content: center;
	/* End center */
  }
  
  .wrapper a {
	display: inline-block;
	text-decoration: none;
	padding: 15px;
	background-color: #fff;
	border-radius: 3px;
	text-transform: uppercase;
	color: #585858;
	font-family: 'Roboto', sans-serif;
  }
  
  .modal {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 290px;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .4s;
  }
  
  .modal:target {
	visibility: visible;
	opacity: 1;
  }
  
  .modal__content {
	border-radius: 4px;
	position: relative;
	width: 1000px;
	max-width: 90%;
	background: #fff;
	padding: 1em 2em;
  }
  
  .modal__footer {
	text-align: right;
	a {
	  color: #585858;
	}
	i {
	  color: #d02d2c;
	}
  }
  .modal__close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #585858;
	text-decoration: none;
  }

